# Ignore the virtual environment directory
venv/

# Ignore macOS-specific metadata files
.DS_Store

# Ignore Git-related files and directories
.git/
.gitignore

# Ignore Python cache directories
__pycache__/

# Ignore test logs and temporary files
/tmp/

# Ignore the build directory
build/

# Ignore the hyperdirmic.egg-info directory
hyperdirmic.egg-info/
